.text-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #5386F5;
    padding-bottom: 10px;
}

.login-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.forgot {
    padding: 15px;
}

.sign-up {
    padding: 15px;
    margin-left: 15px;
}