.logo {
<<<<<<< HEAD
    width: 50px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list > li {
    display: inline-flex;
    list-style: none;
    font-size: 18px;
    padding: 10px;
}

.button-group {
    display: inline-flex;
}

.rights {
    font-size: 12px;
=======
  width: 50px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style-type: none;
  padding: 10px;
}

.rights {
  font-size: 10px;
>>>>>>> be1183984b7535c6f475e6bcb8a564e7d38e17e1
}